body {
    padding: 2em; 
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
.header {

}
.nav{
    width: 100%;
}
.footer {

}
.main {
    text-align: left;
}
@media all and (min-width: 800px) {
    .main    { order: 1; }
    .footer  { order: 2; }
}

