.ex1 {
    background-color: lightgray;
    height: 45px;
    width: 450px;
    padding: 25px;
    font-size: 20px;
    border-bottom: red solid 8px;
}
.ex2{
    background-color: lightgray;
    height: 45px;
    width: 442px;
    padding: 25px;
    font-size: 20px;
    border-left: green solid 8px;
}
.ex3{
    height: 45px;
    width: 450px;
    padding: 25px;
    font-size: 20px;
    border: double;
    border-radius: 15px;
}