@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: 1em sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.main{
    width: 1300px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pub{
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    background-color: #333;
    color: #eee;
}
header img{
    width: 80px;
    margin: 10px;
}
.user-cart img{
    width: 40px;
    opacity: 50%;
}
.user-cart img:hover{
    opacity: 80%;
}
.search{
    display: flex;
}
.searchTherm{
    width: 300px;
    border:  1px solid #999;
    border-radius: 3px 0 0 3px;
    border-right: none;
    padding: 5px;
    height: 24px;
    outline: none;
    color: #999;
}
.search-btn{
    width: 40px;
    height: 36px;
    border: 1px solid #999;
    background: none;
    text-align: center;
    color: #999;
    border-radius: 0 3px 3px 0;
    border-left: none;
    font-size: 20px;
    outline: none;
}
.navBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #333;
        
}
.navBar a{
    text-decoration: none;
    color: #eee;
    padding: 7px 20px;
    /*text-transform: uppercase;*/
    font-weight: 500;
    /*letter-spacing: 0.1em;*/
}
.dropDwn{
    position: relative;
    display: inline-block;    
}
.dropBtn{
    border: none;
    color: #eee;
    background-color: #333;
    padding: 7px 20px;
    /*text-transform: uppercase;*/
    font-size: 17px;
    font-weight: 500;
    /*letter-spacing: 0.1em;*/
}
.dropDwn__content{
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 200px;
}

.dropDwn__content a{
    display: block;
    background-color: #999;
    color: #333;
    font-size: 17px;
    font-weight: bold;
}
.dropDwn:hover .dropDwn__content{
    display: block;
}
.dropDwn:hover .dropBtn{
    background-color: #999;
}
.dropdown-content a:hover{
    background-color: #999;
}
.slider{
    width: 1300px;
    height: 650px;
    overflow: hidden;
}
.middle{
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.navigation{
    position: absolute;
    bottom: 16px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 5;
}
.bar{
    height: 12px;
    width: 12px;
    margin: 6px;
    cursor: pointer;
    background-color: #333;
    border-radius: 7px;
    opacity: .5;
    transition: all .4s ease;
}
.bar:hover {
    opacity: 1;
    width: 30px;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -25%;
}
#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}
.product{
    display: flex;
}
.category{
    width: 40%;
}

.category ul li{
    list-style: none;
    padding: 10px ;
    margin-top: 5px;
    text-align: center;
    border: 1px solid #999;
}
.category ul li a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.category ul li:hover{
    background-color: #CCC;
    font-weight: 600;
}
.prod-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product__card{
    height: 400px;
    width: 280px;
    border: 1px solid #999;
    padding: 25px;
    margin: 5px;
    text-align: center;
    position: relative;
}
.product__card img{
    width: 250px;
}
.prod-name{
    position: absolute;
    bottom: 70px;
    left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}
.prod-name a{
    text-decoration: none;
    color: #333;
}
.prod-price{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 36px;
    color: red;
    font-weight: 800;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.prod-price sup{
    font-size: 24px;
    font-weight: 600;
}
.footer{
    font-size: 16px;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 100%;
    background-color: #333;
    color: #eee;
}
.footer p{
    padding: 15px;
}
/* -----===== Styles Of Forms =====----- */
.form-compt{
    display: flex;
    justify-content: center;
}/**/
.creer-compt{
    width: 80%;
    margin: 25px 0;
    border: 1px solid #ccc;
    padding: 25px;

}
input[type=text], [type=email], [type=date], [type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;
}
.creer-compt label {
    font-size: 20px;
}
label strong, p strong{
    font-weight: 600;
    color: red;
}
.creer-compt p
{
    font-size: 20px;
    padding: 20px 0;
}
.form-subscribe{
    margin: 10px 0;
    text-align: justify;
}
.form-subscribe label{
    margin-left: 30px;
}
.form-subscribe input{
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}
.submit{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #333;
    color: #CCC;
}
.submit:hover{
    background-color: #222;
}
.submit:active{
    background-color: #010101;
}
#m, #mme{
    width: 25px;
    height: 25px;
}
